<div class="flex flex-col h-screen bg-[url(/background/cottagecore-digital-art.jpg)] bg-no-repeat bg-cover bg-center">

  <memory-card-header
    [nbrOfResolvedCards]="memoryCardsStore.nbrOfResolvedCards()"
    [nbrOfAttempt]="memoryCardsStore.nbrOfAttempt()"
    [progressPercentage]="memoryCardsStore.progressPercentage()"
  />

  <div class="flex gap-2 p-2 flex-wrap justify-center content-center grow">
    @for (card of memoryCardsStore.entities(); track card.id) {
      <memory-card
        [id]="card.id"
        [src]="card.src"
        [isFlipped]="card.isOpen"
        [isResolved]="card.isResolved"
        (cardSelected)="memoryCardsStore.flipCard(card)"
      />
    }
  </div>
</div>

