<p-button fluid (click)="showDialog()">
      <span pButtonLabel class="font-[New_Tegomin]  font-bold text-xl lg:text-2xl">
         Indices pour déchiffrement
      </span>
</p-button>

<p-dialog header="Indices" [modal]="true" [(visible)]="visible"
          class="font-[New_Tegomin]">
  <div class="flex flex-wrap gap-2">
    @for (hintLink of hintLinks(); track $index) {
      <p-button [icon]="hintLink.isResolved ? 'pi pi-lock-open':'pi pi-lock'"
                [label]="hintLink.label" icon="pi pi-lock" iconPos="top"
                fluid class="grow" [class.w-full]="$last" [routerLink]="hintLink.routerLink"
                (click)="progressStore.setUnlockTarget('hint',$index)"
                [disabled]="!hintLink.isEnabled"/>
    }
  </div>

  <p-accordion [multiple]="true">
    @for (hintContent of hintContents(); track $index) {
      <p-accordion-panel [value]="$index" [disabled]="!hintContent.isEnabled">
        <p-accordion-header> {{ hintContent.header }}</p-accordion-header>
        <p-accordion-content>
          <p> {{ hintContent.content }} </p>
        </p-accordion-content>
      </p-accordion-panel>
    }
    <p-accordion-panel value="4" [disabled]="!progressStore.isSolutionUnlocked()">
      <p-accordion-header>Solution</p-accordion-header>
      <p-accordion-content>
        <p>
          1. Convertis les symboles en lettres, puis en nombres correspondant à la position de la lettre
          <br>
          (A -> 0, B -> 1, …, Z -> 25)
        </p>        <br>
        <p>2. Convertis la clé du cryptex de la même manière</p> <br>
        <p>3. Aligne la clé convertie à répétition sous le texte converti</p> <br>
        <p>4. Soustrais chaque lettre avec la lettre de la clé alignée sous celle-ci</p> <br>
        <p>5. Si le résultat est négatif, ajouter 26 à la lettre avant de soustraire</p> <br>
        <p>Exemple:</p>
        <p>Clé : BV -> 1-21</p>

        <table class="mt-2 mx-auto">
          <tr>
            <td></td>
            <td class="border p-2">U</td>
            <td class="border p-2">Z</td>
            <td class="border p-2">T</td>
            <td class="border p-2">O</td>
          </tr>
          <tr>
            <td></td>
            <td class="border p-2">20</td>
            <td class="border p-2">25</td>
            <td class="border p-2">19</td>
            <td class="border p-2">14 <span class="text-[0.6rem]">(+26)</span></td>
          </tr>
          <tr>
            <td></td>
            <td class="border p-2">1</td>
            <td class="border p-2">21</td>
            <td class="border p-2">1</td>
            <td class="border p-2">21</td>
          </tr>
          <tr>
            <td class="border p-2">-</td>
            <td class="border p-2">19</td>
            <td class="border p-2">4</td>
            <td class="border p-2">18</td>
            <td class="border p-2">19</td>
          </tr>
          <tr>
            <td></td>
            <td class="border p-2">T</td>
            <td class="border p-2">E</td>
            <td class="border p-2">S</td>
            <td class="border p-2">T</td>
          </tr>
        </table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</p-dialog>
