<button class="relative flex size-28 lg:size-48 2xl:size-76" (click)="flipCard()">
  <img fill [ngSrc]="'assets/card-back.png'" priority alt="Card backing"
       class="tile absolute rounded-md overflow-hidden w-full h-full"
       [class.flipped]="isCardVisible()"/>

  <img fill [ngSrc]="src()" [alt]="src()"
       class="tile absolute border-4 rounded-md w-full h-full"
       [class.flipped]="!isCardVisible()"
       [class.border-transparent]="!isResolved()"
       [class.border-teal-400]="isResolved()"/>
</button>

